body{
   font-family: Arial, sans-serif; 
   background-color: #f4f6f8;
   margin: 0;
   padding: 0;
   }
   #nav1{
     background-color: black;
     color:white;
     text-align: center;
   }
   nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    display: flex;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #555;
    text-decoration: underline;

}
#about{
    padding: 20px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
 img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
  margin-left: 40%;
  border: 1px solid black;
}

th{
  background-color: #333;
  color: aliceblue;
}
td{
    padding: 5px;
}
footer{
  background-color: black;
  color:white;
  text-align: center;
}
#a{
  text-align: center;
}
#j{
    text-align: center;
}
#e{
    text-align: center;
}